SERVER.PORT=0.0.0.0:9999

#Database Config (PostgreSQL)
DATASOURCE_USERNAME=your_db_user
DATASOURCE_PASSWORD=your_db_password
DATASOURCE_HOST=127.0.0.1
DATASOURCE_PORT=5432
DATASOURCE_DB_NAME=your_db_name

#Pool Config
DATASOURCE_POOL_MAX_CONN=10
DATASOURCE_POOL_IDLE_CONN=5
DATASOURCE_POOL_LIFE_TIME=30000

#JWT Config
JWT_SECRET_KEY=your_jwt_secret_here
JWT_EXPIRE_MINUTES_COUNT=60

#Redis Config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_POOL_MAX_SIZE=10
REDIS_POOL_MIN_IDLE_SIZE=5

# Auth Configuration
AUTH_MODE=RBAC
COOKIE_SECURE=false
